contractions==0.1.73
gensim 
glob2 
huggingface-hub==0.20.3
jupyterthemes==0.20.0
keras==2.14.0
keras-nightly==2.15.0.dev2023092207
matplotlib==3.8.3
nltk 
numpy==1.26.3
pandas==2.2.1
regex 
safetensors==0.4.2
scikit-learn==1.4.1.post1
tensorflow==2.14.0
torch==1.10.2
transformers==4.37.0
wordcloud==1.9.3
imbalanced-learn
